/* -------- TODO SOBRE EL BODY ---------*/
/*📌 Esto evita espacios inesperados y hace que width y height incluyan padding y border.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*2️⃣ Definir la tipografía y color de texto  */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*Definimos la tipografía*/
    color: #333;
    /*Color oscurso suave para el texto*/
    background-color: #f4f4f4;
    /*Fondo claro */
    line-height: 1.6;
    /*Espaciado entre líneas */
}

/*3️⃣ Definir el tamaño y estructura de la página
nos aseguramos de que el body ocupe toda la pantalla*/
html,
body {
    height: 100%;
    width: 100%;
}

/*Usamos display: flex; para centrar el contenido */
body {
    display: flex;
    justify-content: center;
    /*Centrar horizontalmente */
    align-items: center;
    /*Centrar verticalmente*/
    min-height: 100vh;
    /*Al menos la altura de la pantalla*/
}

/* Dark Mode o esquema de colores dinámico*/
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.dark-mode {
    --bg-color: #121212;
    --text-color: #fff;
}

/* Estilos a h1 span */

h1 span {
    display: block;
}

h1 span {
    color: pink;
}

/* ------ BARRA DE NAVEGACIÓN <nav> ---------*/
nav {
    position: fixed;
    /* Fija el menú en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo con transparencia */
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
    /* Asegura que esté por encima del contenido */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centra los elementos horizontalmente */
    gap: 20px;
    /* Espaciado entre los enlaces */
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #5D5D5D;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: orangered;
}

nav ul li i {
    margin-right: 5px;
}